.knowledge-tool {
  font-size: 0.875rem; /* text-sm */
  color: var(--color-muted-foreground);
  &__documents {
    span {
      padding-left: 0.5rem;
    }
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-left: 2px solid var(--color-muted-foreground);
    li {
      margin-left: 1rem;
      list-style: "-";
      border: none;
    }
  }
}
