$oak-color-primary: rgba(23, 23, 23, 1);
$oak-color-bg: rgb(244, 244, 245);
$oak-border-color: #e2e8f0;
$oak-white: white;
$oak-color-muted-foreground: #737373;
$oak-border-radius: 12px;
$oak-error-color: oklch(0.704 0.191 22.216);

#oak-chat-container {
  font-family: "Inter", "ui-sans-serif", "system-ui", "sans-serif";
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $oak-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .oak-chat {
    &__empty-state {
      display: flex;
      flex-direction: column;
      padding-top: 20vh;
      align-items: center;
      flex: 1;
      z-index: 1;
      width: 100%;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;

      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }

      &-heading {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 25.6px;
        color: $oak-color-primary;
        animation: fadeInScale 0.3s ease-out;
        animation-fill-mode: both;
        animation-delay: 0.3s;
      }

      &-subheading {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 48px;
        animation: fadeInScale 0.3s ease-out;
        animation-fill-mode: both;
        animation-delay: 0.4s;
        text-align: center;
      }
    }

    &__input-container {
      margin: 16px;
      margin-top: 0;
      padding-top: 16px;
      border-top: 1px solid $oak-border-color;
    }
    &__thinking {
      &-message {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;
        animation: fadeInScale 0.3s ease-out;
        animation-fill-mode: both;
        margin-left: 54px;
        color: $oak-color-muted-foreground;
      }
      &-dots {
        display: inline-block;
        min-width: 2ch;
        text-align: left;
        vertical-align: bottom;
        padding-left: 4px;
        &::after {
          content: "\00a0";
          animation: animate-dots 1.5s infinite steps(1, end);
          display: inline-block;
        }
      }
    }
    &__form {
      position: relative;
      // display: flex;
      // flex-direction: column;
      align-items: start;
      border-radius: $oak-border-radius;
      background-color: $oak-color-bg;
      // border: 2px solid $oak-color-bg;
      transition: border 0.3s ease;

      // &:focus-within {
      //   border: 2px solid $oak-color-primary;
      // }
    }
    &__scroll-down-indicator {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $oak-color-primary;
      font-size: 24px;
      font-weight: 500;
      background-color: $oak-white;
      border-radius: 50%;
      padding: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: opacity 0.2s ease;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    &__file-thumbnails {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 8px;

      &__item {
        position: relative;
        flex-shrink: 0;
        img {
          width: 64px;
          height: 64px;
          border-radius: $oak-border-radius;
          object-fit: cover;
          overflow: hidden;
        }

        &--pdf {
          background-color: $oak-color-primary;
          color: $oak-white;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          padding: 8px 40px 8px 8px;
          border-radius: $oak-border-radius;
          font-size: 24px;
          height: 64px;

          &-icon {
            padding: 8px;
            background-color: $oak-color-muted-foreground;
            border-radius: $oak-border-radius;
          }

          > div {
            display: flex;
            flex-direction: column;
            font-size: 12.8px;
            max-width: 100px;

            span:first-of-type {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
            }
          }
        }
      }
    }

    &__file-remove-button {
      position: absolute;
      top: 4.8px;
      right: 4.8px;
      color: $oak-color-bg;
    }

    &__submit-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      margin-left: auto;
      padding: 8px;
      color: white;
      border-radius: 100%;
      background-color: $oak-color-primary;
      opacity: 1;
      transition: 300ms ease;

      border: none;
      cursor: pointer;
      width: 36px;
      height: 36px;
      &:disabled {
        opacity: 0.5;
      }
    }

    &__text-area {
      display: flex;
      width: 100%;
      flex: 1;
      color: $oak-color-primary;
      height: 100%;
      border: none;
      outline: none;
      resize: none;
      padding: 12.8px 12.8px 0 12.8px;
      margin: 0;
      background: transparent;
      font-family: inherit;
      font-size: 16px;
      max-height: 300px;

      @media (min-width: 768px) {
        font-size: 14.4px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__action-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      border-radius: $oak-border-radius;
      padding: 6px 6px;
      opacity: 1;
      transition: 300ms ease;
      color: $oak-color-primary;

      span {
        display: none;
        width: 0;
        overflow: hidden;
        transition: width 0.3s ease;
      }

      &.active {
        opacity: 1;
        background-color: $oak-color-primary;
        svg {
          stroke: $oak-white;
          opacity: 1;
        }
        span {
          display: inline-block;
          width: auto;
        }
      }

      &:hover {
        opacity: 1;
        background-color: $oak-color-primary;
        svg {
          stroke: $oak-white;
        }
      }

      svg {
        transition: 600ms ease;
        opacity: 0.7;
        stroke: $oak-color-primary;
      }

      span {
        font-size: 12.8px;
        font-weight: 500;
        color: $oak-color-bg;
      }
    }

    &__action-row {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: end;
      width: 100%;
      padding: 12.8px;
      gap: 2px;
    }

    &__footer-note {
      font-size: 12.8px;
      color: $oak-color-muted-foreground;
      padding: 20px;
      padding-top: 0;
      text-align: center;
      white-space: pre-wrap;
    }

    &__messages {
      flex: 1;
      padding: 16px;
      padding-bottom: 0;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;

      /* Custom scrollbar styles */
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $oak-color-bg;
        border-radius: 5px;
        border: 1px solid transparent;
      }
      &--anchor-bottom {
        * {
          overflow-anchor: none;
        }
      }
    }

    &__messages-container-wrapper {
      position: relative;
      overflow-y: auto;
      height: 100%;
    }

    &__scroll-end {
      height: 10px;
      width: 10px;
      &--anchor-bottom {
        overflow-anchor: auto;
      }
    }

    &__advice-badges {
      display: grid;
      padding: 16px;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      &-card {
        background-color: $oak-white;
        border: 1px solid $oak-border-color;
        border-radius: $oak-border-radius;
        padding: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        animation: fadeInUp 0.3s ease-out;
        animation-fill-mode: both;

        &:hover {
          background-color: $oak-color-bg;
        }

        @for $i from 1 through 100 {
          &:nth-child(#{$i}) {
            animation-delay: #{($i * 0.1) + 0.5}s;
          }
        }
      }

      &-card-title {
        font-size: 12.8px;
        font-weight: 600;
        margin: 0;
        color: var(--text-primary);
      }
    }

    &__message {
      display: flex;
      gap: 12px;
      margin-bottom: 16px;
      animation: fadeInUp 0.3s ease-out;
      animation-fill-mode: both;

      &--user {
        justify-content: flex-end;
      }

      &--assistant {
        justify-content: flex-start;
      }

      &-tool-invocations {
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
        &-marker {
          & > svg {
            width: 16px;
            height: 16px;
          }
        }
        &-mcp-content {
          display: flex;
          flex-direction: column;
          gap: 16px;
          & > div {
            padding-left: 16px;
            border-left: 2px solid $oak-color-primary;
          }
          &-item {
            display: flex;
            flex-direction: row;
            gap: 4px;
          }
        }
      }

      &-content {
        &-container {
          display: flex;
          flex-direction: column;
          max-width: 80%;

          &-attachments {
            display: flex;
            gap: 8px;
            justify-content: flex-end;

            &-attachment {
              position: relative;
              margin-bottom: 8px;
              &--image {
                width: 112px;
                height: 112px;
                border-radius: $oak-border-radius;
                object-fit: cover;
                overflow: hidden;
              }
            }
          }
        }

        &--assistant {
          margin-top: 3.2px;
        }

        &--copy-button {
          opacity: 0.3;
          transition: opacity 0.3s ease;
          cursor: pointer;
          border: none;
          background-color: transparent;
          &:hover {
            opacity: 1;
          }
        }
      }

      &-iframe-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
      }

      &-tool-invocations {
        margin-bottom: 1.5rem;
        padding-left: 16px;

        &-marker {
          display: inline-block;
          display: inline-block;
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 8px;
          display: flex;
          align-items: center;
          font-weight: 400;
          gap: 4px;
        }
      }

      &-tool-invocation {
        border-left: 2px solid $oak-color-primary;
        padding: 12px;
        overflow-x: auto;
      }

      &-code {
        font-size: 12px;
        white-space: pre-wrap;
        word-break: break-word;
      }

      &-content {
        font-size: 14px;
        border-radius: $oak-border-radius;
        padding: 8px 12px;

        &--user {
          background-color: $oak-color-primary;
          color: $oak-white;
        }

        &--assistant {
          background-color: transparent;
        }
      }
    }
    &__loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      animation: fadeInUp 0.3s ease-out;
      animation-fill-mode: both;
    }

    &__loading-logo {
      width: 50px;
      height: 50px;
    }

    &__loading-text {
      padding: 8px;
      font-size: 19.2px;
      font-weight: 400;
      color: $oak-color-primary;
    }

    &__message-avatar {
      position: relative;
      display: flex;
      height: 30px;
      width: 30px;
      flex-shrink: 0;
      overflow: hidden;
      margin-top: 8px;

      &-image {
        aspect-ratio: 1 / 1;
        height: 100%;
        width: 100%;
      }
    }
    &__error-container {
      padding: 16px;
    }
    &__error-message {
      padding: 8px;
      text-align: center;
      background-color: $oak-error-color;
      color: $oak-white;
      border-radius: $oak-border-radius;
      font-size: 14px;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animate-dots {
  0% {
    content: "\00a0";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "\00a0";
  }
}

// GENERAL HTML STYLES
.oak-chat__message-content {
  div,
  span,
  p,
  ol,
  li,
  ul {
    margin: 0;
    &:not(:last-child) {
      padding-bottom: 12.8px;
    }
  }

  div,
  span,
  p {
    white-space: pre-wrap;
    line-height: 1.5;
  }

  a {
    text-decoration: underline;
    color: $oak-color-primary;
  }
  hr {
    margin-bottom: 1rem;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    padding-bottom: 20px;

    thead {
      background: $oak-color-bg;
      border: 1px solid #ddd;

      th {
        padding: 10px;
        text-align: left;
        font-weight: 400;
        color: var(--text-primary);
      }
    }

    tbody {
      tr {
        border: 1px solid #ddd;

        td {
          padding: 10px;
          color: #333;

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  ul,
  ol {
    list-style: initial;
    padding: 0;
    padding-bottom: 4.8px;

    li {
      // padding: 1rem;
      margin-left: 32px;
      padding-left: 8px;
      // border-bottom: 1px solid $oak-border-color;

      &:last-child {
        border-bottom: none;
      }

      // &::marker {
      //   color: transparent;
      // }
    }
  }
  ul {
    list-style: circle;
  }
  ol {
    list-style: decimal;
  }

  code {
    span {
      font-size: 12px;
      white-space: pre;
    }
  }

  @mixin heading-style($color, $font-weight, $padding-top, $font-size) {
    color: $color;
    font-weight: $font-weight;
    padding-top: $padding-top;
    font-size: $font-size;
  }

  h1 {
    @include heading-style($oak-color-primary, 500, 8px, 20.8px);
    padding-bottom: 4.8px;
  }

  h2 {
    @include heading-style($oak-color-primary, 500, 8px, 19.2px);
    padding-bottom: 4.8px;
  }

  h3 {
    @include heading-style($oak-color-primary, 500, 8px, 17.6px);
    padding-bottom: 4.8px;
  }

  h4 {
    @include heading-style($oak-color-primary, 500, 4.8px, 16px);
  }

  h5 {
    @include heading-style($oak-color-primary, 500, 3.2px, 16px);
  }

  h6 {
    @include heading-style(var(--text-primary), 500, 3.2px, 16px);
  }
}
